:root{
    --vert:rgb(37, 211, 28);
    --typo: 'Montserrat', sans-serif;
}

*{margin: 0;
padding: 0;
box-sizing: border-box;}

header{display: flex;
justify-content: space-between;
align-items: center;
padding: 0 10px;
}






    @media screen and (min-width: 768px) {
        header+section{background: rgb(37,211,28);
            background: linear-gradient(100deg, rgba(37,211,28,1) 0%, rgba(13,80,14,1) 100%);
        width: 100%;
        min-height: 407px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        
        clip-path: polygon(100% 0, 100% 100%, 50% 79%, 0 100%, 0 0);
        box-shadow: inset 10px 10px 15px black;
        flex-wrap: wrap;
        /* quand les élément sont compresser il passe a la ligne avec flex wrap. les media query c'est pour des détail en + de ca */
        /* box shadox c'est le liserai transparent noir */
        }
        
        header+section>a>figure{
            background: white;
            width: 13%;
            min-height: 500px;
            position: absolute;
            right: 0;
            top: 0;
        }
        
        
        #slide{position: absolute;
        right: 0;
        top: 0;}
        
        header>a{display: block;
        width: 60px;}
        hgroup{width: 17.2%;
            margin-left: 5%;}

            h1{font-size: 40px;
                margin-bottom: 2vh;
                font-weight: 400;}
                
                h1,h2{font-family: var(--typo);}
                
                #en{font-weight: 500;
                border-bottom: 5px solid black;}
                
                #seine{font-weight: 700;
                    border-bottom: 5px solid black;}
            
    }

    @media screen and (max-width: 767px)  {
        header+section{
            background: rgb(37,211,28);
            background: linear-gradient(100deg, rgba(37,211,28,1) 0%, rgba(13,80,14,1) 100%);
        width: 100%;
        /* min-height: 407px; pour eviter que ca prenne trop de place sur portable */
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        box-shadow: inset 10px 10px 15px black;
        flex-wrap: wrap;
        padding: 20px 0;
        /* quand les élément sont compresser il passe a la ligne avec flex wrap. les media query c'est pour des détail en + de ca */
        /* box shadox c'est le liserai transparent noir */
        }

        header+section>a>figure{
         display: none;}
         hgroup{width: 80%;
            margin: auto;}

            header>a{display: block;
                width: 60px;
            margin: auto;}

            h1{font-size: 40px;
                margin-bottom: 2vh;
                font-weight: 400;}
                
                h1,h2{font-family: var(--typo);
                text-align: center;
            color: white;}
                
                #en{font-weight: 500;
                border-bottom: 5px solid white;}
                
                #seine{font-weight: 700;
                    border-bottom: 5px solid white;}

           

       
            

        
    }