:root{
    --vert:rgb(37, 211, 28);
    --typo: 'Montserrat', sans-serif;
    --font-size:1rem;
}
.light-mode {
    --navbar-color: rgb(37, 211, 28);
    --navbar-bg-color: #F0F0F0;  
  }
  .dark-mode {
    --navbar-color: #FFF;
    --navbar-bg-color: #000;  
  }

*{margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;}

header{display: flex;
justify-content: space-between;
align-items: center;
padding: 0 ;
}


ul {
  list-style:none;
}

/* Basic style */
body {
  margin:0;
  font-size:var(--font-size);
  font-family: 'Poppins', sans-serif;
}
.main-content {
  padding:1rem;
}
/* Navbar */
.navbar {  
  display:flex;
  align-items:center; 
  justify-content:space-between;   
  padding:10px;
  font-size:1.1rem;
  background:var(--navbar-bg-color);
  color:var(--navbar-color);
}
.navbar__links { 
  display:flex;  
}
.navbar__link { 
  padding:0 10px;
  
}
.navbar__link > a { 
  color:var(--navbar-color);
  text-decoration:none;
}
.burger {
  display:none;
}





    @media screen and (min-width: 768px) {
        header+section{background: rgb(37,211,28);
            background: linear-gradient(100deg, rgba(37,211,28,1) 0%, rgba(13,80,14,1) 100%);
        width: 100%;
        min-height: 407px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        
        clip-path: polygon(100% 0, 100% 100%, 50% 79%, 0 100%, 0 0);
        box-shadow: inset 10px 10px 15px black;
        flex-wrap: wrap;
        /* quand les élément sont compresser il passe a la ligne avec flex wrap. les media query c'est pour des détail en + de ca */
        /* box shadox c'est le liserai transparent noir */
        }
        
        header+section>a>figure{
            background: white;
            width: 13%;
            min-height: 500px;
            position: absolute;
            right: 0;
            top: 0;
        }
        
        
        #slide{position: absolute;
        right: 0;
        top: 0;}
        
        header>a{display: block;
        width: 60px;}
        hgroup{width: 17.2%;
            margin-left: 5%;}

            h1{font-size: 40px;
                margin-bottom: 2vh;
                font-weight: 400;}
                
                h1,h2{font-family: var(--typo);}
                
                #en{font-weight: 500;
                border-bottom: 5px solid black;}
                
                #seine{font-weight: 700;
                    border-bottom: 5px solid black;}

                    .navbar__link > a::after {
                        display:block;
                        content:"";
                        width:0;
                        height:1px;
                        background:var(--navbar-color);
                        transition:width .4s;
                      }
                      .navbar__link:hover > a::after {
                        width:100%;
                      }
            
    }

    @media screen and (max-width: 767px)  {
        header+section{
            background: rgb(37,211,28);
            background: linear-gradient(100deg, rgba(37,211,28,1) 0%, rgba(13,80,14,1) 100%);
        width: 100%;
        /* min-height: 407px; pour eviter que ca prenne trop de place sur portable */
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        box-shadow: inset 10px 10px 15px black;
        flex-wrap: wrap;
        padding: 20px 0;
        z-index: -1;
        /* quand les élément sont compresser il passe a la ligne avec flex wrap. les media query c'est pour des détail en + de ca */
        /* box shadox c'est le liserai transparent noir */
        }

        header+section>a>figure{
         display: none;}
         hgroup{width: 80%;
            margin: auto;}

            header>a{display: block;
                width:90px;
            margin-left: 200px;}

            h1{font-size: 40px;
                margin-bottom: 2vh;
                font-weight: 400;}
                
                h1,h2{font-family: var(--typo);
                text-align: center;
            color: white;}
                
                #en{font-weight: 500;
                border-bottom: 5px solid white;}
                
                #seine{font-weight: 700;
                    border-bottom: 5px solid white;}

                   .navbar{width: 13%;} 

                    .navbar__links { 
                        overflow:hidden;
                        display:flex;
                        flex-direction:column;
                        width:0;
                        height:100%;  
                        position:absolute;
                        top:0;
                        right: 0;     
                        background:var(--navbar-bg-color);     
                        transform: translateX(110%);
                        transition: all .5s ease-in-out;
                        z-index: 1;
                      }
                      .show-nav .navbar__links { 
                        
                        width:100vw;    
                        transform: translateX(0);
                      } 
                      .navbar__link {    
                        transform: translateX(101%);
                        transition: all .5s ease-in-out;
                        
                      }
                      
                      .show-nav .navbar__link  {        
                        transform: translateX(0);    
                      }   
                      .navbar__link > a {
                        display:block;
                        padding:1rem;
                        font-size:1.6rem;
                        color:var(--navbar-color);  
                        transition: all .4s ease-in-out;
                        
                      }
                      .navbar__link > a:hover {
                        padding-left:2rem;
                        letter-spacing:5px;
                      }
                      
                      /* Toggle menu */
                      .burger {
                        display:block;
                        position:relative;
                        padding:0;
                        width:45px;
                        height:45px;
                        border:none;
                        background:transparent;
                        cursor:pointer;
                        z-index: 2;
                      }
                      .bar {
                        display:block;    
                        width:45px;
                        height:4px;  
                        border-radius:3px;
                        background:var(--navbar-color); 
                        transition: all .5s ease-in-out; 
                        z-index: 2;  
                      }
                      .bar::before, .bar::after {
                        content:"";
                        width:45px;
                        height:4px;
                        position:absolute; 
                        left:0;  
                        background:var(--navbar-color); 
                        border-radius:3px;    
                        transition: all .5s ease-in-out;
                      }
                      .bar::before {
                        transform:translateY(-12px)
                      }
                      .bar::after {
                        transform:translateY(12px)
                      }
                      .show-nav .bar {
                        width:0;
                        background:transparent;    
                      }
                      .show-nav .bar::before {
                        transform:rotate(45deg);
                      }
                      .show-nav .bar::after {
                        transform:rotate(-45deg);
                
                      }
                      
                      /* Bonus - Animations */
                      .show-nav .first {      
                        transition: all 1s ease-out;
                      } 
                      .show-nav .second {      
                        transition: all 1.1s ease-out;
                      } 
                      .show-nav .third {      
                        transition: all 1.2s ease-out;
                      } 
                      .show-nav .four {      
                        transition: all 1.3s ease-out;
                      } 
                      .show-nav .fifth {      
                        transition: all 1.4s ease-out;
                      }
           

       
            

        
    }